body {
 background-color: PaleTurquoise;
}

#clicker {
 background-color: DarkTurquoise;
 width: 250px;
 height: 250px;
 border-radius: 50%;
 position: absolute;
 left: 75px;
 top: 115px;
 border: 4px solid black;
}

#clicker:active {
 opacity: 0.7;
 scale: 1.05;
}

#balBox {
 background-color: DarkTurquoise;
 width: 350px;
 height: 65px;
 border-radius: 15px;
 position: absolute;
 left: 20px;
 border: 3px solid black;

}

#balance {
 position: absolute;
 font-size: 25px;
 top: -15px;
 left: 120px;
}

#forClickText {
 position: absolute;
 top: 15px;
 left: 50px;
}

#perSecondText {
 position: absolute;
 top: 15px;
 left: 175px;
}

#shopBox {
 background-color:DarkTurquoise;
 width: 350px;
 height: 200px;
 border-radius: 15px;
 border: 3px solid black;
 position: absolute;
 bottom: 130px;
 left: 20px;
 
}

#shopName {
 position: absolute;
 top: -20px;
 left: 125px;
 font-size: 25px;
}

#shop1 {
 background-color: SteelBlue;
 height: 150px;
 width: 152px;
 position: absolute;
 top: 40px;
 left: 12px;
 border-radius: 10px;
 border: 3px solid black;
}

#shop1:active {
 scale: 1.05;
}

#shop2:active {
 scale: 1.05;
}

#shop2 {
 background-color: SteelBlue;
 height: 150px;
 width: 152px;
 position: absolute;
 top: 40px;
 right: 12px;
 border-radius: 10px;
 border: 3px solid black;
}

#name1 {
 position: absolute;
 left: 25px;
 top: -10px;
 font-size: 20px;
}

#info1 {
 position: absolute;
 font-size: 15px;
 left: 15px;
 top: 10px;
 color: rgba(0, 0, 0, 0.5);
}

#price1 {
 position: absolute;
 font-size: 20px;
 top: 75px;
 left: 25px;
}

#name2 {
 position: absolute;
 right: 25px;
 top: -10px;
 font-size: 20px;
}

#info2 {
 position: absolute;
 font-size: 13px;
 left: 12px;
 top: 20px;
 color: rgba(0, 0, 0, 0.5);
}

#price2 {
 position: absolute;
 font-size: 20px;
 top: 75px;
 left: 32px;
}

#tgBox {
 background-color: DarkTurquoise;
 width: 350px;
 height: 75px;
 position: absolute;
 bottom: 25px;
 left: 20px;
 border-radius: 10px;
 border: 3px solid black;
}

#tg {
 width: 60px;
 height: 60px;
 position: absolute;
 left: 10px;
 top: 7px;
}

#tgInf {
 position: absolute;
 left: 85px;
 font-size: 20px;
 bottom: -20px;
 color: white;
}

#perehod {
 background-color: DarkTurquoise;
 width: 350px;
 height: 75px;
 position: absolute;
 bottom: -75px;
 left: 20px;
 border-radius: 10px;
 border: 3px solid black;
}

#perehodText {
 position: absolute;
 right: 95px;
 font-size: 23px;
 bottom: -5px;
 color: white;
}

#slot {
 width: 60px;
 position: absolute;
 left: 10px;
 top: 7px;
}

#exit {
 width: 350px;
 height: 60px;
 background-color: DarkTurquoise;
 text-align: center;
 border: 3px solid black;
 border-radius: 10px;
 position: absolute;
 left: 20px;
 bottom: 25px;
}

#exitText {
 color: white;
 font-size: 25px;
 position: absolute;
 bottom: -43px;
 left: 135px;
}

#name {
 width: 350px;
 height: 60px;
 background-color: DarkTurquoise;
 text-align: center;
 border: 3px solid black;
 border-radius: 10px;
 position: absolute;
 left: 20px;
 top: 25px;
}

#nameText {
 color: white;
 font-size: 31px;
 position: absolute;
 bottom: -60px;
 left: 120px;
}

#bidBox {
 background-color: DarkTurquoise;
 width: 350px;
 height: 120px;
 position: absolute;
 left: 20px;
 top: 125px;
 border: 3px dashed black;
}

#bidText {
 font-size: 23px;
 margin-top: 10px;
 text-align: center;
}

#bid10 {
 background-color: MediumTurquoise;
 height: 70px;
 width: 64px;
 position: absolute;
 top: 40px;
 left: 12px;
 border-radius: 5px;
 border: 1px solid black;
}

#bid10Text {
 font-size: 20px;
 position: absolute;
 left: 13px;
 top: -22px;
}

#bid25 {
 background-color: MediumTurquoise;
 height: 70px;
 width: 64px;
 position: absolute;
 top: 40px;
 left: 77px;
 border-radius: 5px;
 border: 1px solid black;
}

#bid25Text {
 font-size: 20px;
 position: absolute;
 left: 13px;
 top: -22px;
}

#bid50 {
 background-color: MediumTurquoise;
 height: 70px;
 width: 64px;
 position: absolute;
 top: 40px;
 left: 142px;
 border-radius: 5px;
 border: 1px solid black;
}

#bid50Text {
 font-size: 20px;
 position: absolute;
 left: 13px;
 top: -22px;
}

#bid75 {
 background-color: MediumTurquoise;
 height: 70px;
 width: 64px;
 position: absolute;
 top: 40px;
 right: 78px;
 border-radius: 5px;
 border: 1px solid black;
}

#bid75Text {
 font-size: 20px;
 position: absolute;
 left: 13px;
 top: -22px;
}

#bid100 {
 background-color: MediumTurquoise;
 height: 70px;
 width: 64px;
 position: absolute;
 top: 40px;
 right: 13px;
 border-radius: 5px;
 border: 1px solid black;
}

#bid100Text {
 font-size: 20px;
 position: absolute;
 left: 10px;
 top: -22px;
}

#dont {
  background-color: DarkTurquoise;
 width: 350px;
 height: 75px;
 position: absolute;
 bottom: -175px;
 left: 20px;
 border-radius: 10px;
 border: 3px solid black;
}

#dontText {
 position: absolute;
 right: 80px;
 font-size: 23px;
 bottom: -28px;
 color: white;
}

#dontImg {
  width: 60px;
 position: absolute;
 left: 10px;
 top: 7px;
}